//$backgroundColour: lighten( #441151, 10 );
$backgroundColour: #441151;

* {
  box-sizing: border-box;
}

body {
  background-color: #0c356a;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

  font-family: sans-serif;
}

// SCSS Routing
@import "styles/normalize";
@import "styles/text";
@import "styles/form";
@import "styles/button";
